root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.cs]
indent_size = 4

[*.cshtml]
charset = utf-8-bom
indent_size = 2

# Xml project files
[*.csproj]
charset = utf-8
indent_size = 2

# Xml config files
[*.{config,props,targets}]
indent_size = 2

[*.json]
indent_size = 2

[*.yml]
indent_size = 2

# CSharp code style settings:
[*.cs]
# Prefer "var" everywhere
csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error
csharp_style_var_elsewhere = true:error

csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_constructors = true:suggestion
csharp_style_expression_bodied_indexers = true:suggestion
# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion

csharp_style_inlined_variable_declaration = true:error

# Require using directives inside a namespace
csharp_using_directive_placement = inside_namespace:error
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = false
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true
csharp_indent_switch_labels = true

# Formatting - new line options

# Place catch statements on a new line
csharp_new_line_before_catch = true
# Place else statements on a new line
csharp_new_line_before_else = true
# Require braces to be on a new line for methods, control_blocks, lambdas, types, and object_collection (also known as "Allman" style)
csharp_new_line_before_open_brace = all
# IDE0011: Add braces
csharp_prefer_braces = when_multiline:error

# Formatting - spacing options

# Require NO space between a cast and the value
csharp_space_after_cast = false
# Require a space before the colon for bases or interfaces in a type declaration
csharp_space_after_colon_in_inheritance_clause = true
# Require a space after a keyword in a control flow statement such as a for loop
csharp_space_after_keywords_in_control_flow_statements = true
# Require a space before the colon for bases or interfaces in a type declaration
csharp_space_before_colon_in_inheritance_clause = true
# Remove space within empty argument list parentheses
csharp_space_between_method_call_empty_parameter_list_parentheses = false
# Remove space between method call name and opening parenthesis
csharp_space_between_method_call_name_and_opening_parenthesis = false
# Do not place space characters after the opening parenthesis and before the closing parenthesis of a method call
csharp_space_between_method_call_parameter_list_parentheses = false
# Remove space within empty parameter list parentheses for a method declaration
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
# Place a space character after the opening parenthesis and before the closing parenthesis of a method declaration parameter list.
csharp_space_between_method_declaration_parameter_list_parentheses = false
