root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{cs,cshtml}]
indent_size = 4

# Dotnet code style settings:
[*.cs]
# Add a blank line between using and Import directives based on their name
dotnet_separate_import_directive_groups = true
# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true
