<div>
    <div class="p-4">
        <div class="flex justify-center items-end">
            <heroicon-outline icon="Sun" class="w-6 text-red-500" />
            <heroicon-outline icon="Sun" class="w-8 text-orange-500" />
            <heroicon-outline icon="Sun" class="w-10 text-yellow-500" />
            <heroicon-outline icon="Sun" class="w-12 text-green-500" />
            <heroicon-outline icon="Sun" class="w-16 text-teal-500" />
            <heroicon-outline icon="Sun" class="w-20 text-blue-500" />
            <heroicon-outline icon="Sun" class="w-24 text-indigo-500" />
            <heroicon-outline icon="Sun" class="w-32 text-purple-500" />
            <heroicon-outline icon="Sun" class="w-40 text-pink-500" />
            <heroicon-outline icon="Sun" class="w-32 text-purple-500" />
            <heroicon-outline icon="Sun" class="w-24 text-indigo-500" />
            <heroicon-outline icon="Sun" class="w-20 text-blue-500" />
            <heroicon-outline icon="Sun" class="w-16 text-teal-500" />
            <heroicon-outline icon="Sun" class="w-12 text-green-500" />
            <heroicon-outline icon="Sun" class="w-10 text-yellow-500" />
            <heroicon-outline icon="Sun" class="w-8 text-orange-500" />
            <heroicon-outline icon="Sun" class="w-6 text-red-500" />
        </div>
        <div class="mt-2 flex justify-center items-start">
            <heroicon-solid icon="Star" class="w-6 text-red-500" />
            <heroicon-solid icon="Star" class="w-8 text-orange-500" />
            <heroicon-solid icon="Star" class="w-10 text-yellow-500" />
            <heroicon-solid icon="Star" class="w-12 text-green-500" />
            <heroicon-solid icon="Star" class="w-16 text-teal-500" />
            <heroicon-solid icon="Star" class="w-20 text-blue-500" />
            <heroicon-solid icon="Star" class="w-24 text-indigo-500" />
            <heroicon-solid icon="Star" class="w-32 text-purple-500" />
            <heroicon-solid icon="Star" class="w-40 text-pink-500" />
            <heroicon-solid icon="Star" class="w-32 text-purple-500" />
            <heroicon-solid icon="Star" class="w-24 text-indigo-500" />
            <heroicon-solid icon="Star" class="w-20 text-blue-500" />
            <heroicon-solid icon="Star" class="w-16 text-teal-500" />
            <heroicon-solid icon="Star" class="w-12 text-green-500" />
            <heroicon-solid icon="Star" class="w-10 text-yellow-500" />
            <heroicon-solid icon="Star" class="w-8 text-orange-500" />
            <heroicon-solid icon="Star" class="w-6 text-red-500" />
        </div>
    </div>
    <div class="p-4 bg-black">
        <div class="flex justify-center items-end">
            <heroicon-outline icon="Star" class="w-6 text-red-500" />
            <heroicon-outline icon="Star" class="w-8 text-orange-500" />
            <heroicon-outline icon="Star" class="w-10 text-yellow-500" />
            <heroicon-outline icon="Star" class="w-12 text-green-500" />
            <heroicon-outline icon="Star" class="w-16 text-teal-500" />
            <heroicon-outline icon="Star" class="w-20 text-blue-500" />
            <heroicon-outline icon="Star" class="w-24 text-indigo-500" />
            <heroicon-outline icon="Star" class="w-32 text-purple-500" />
            <heroicon-outline icon="Star" class="w-40 text-pink-500" />
            <heroicon-outline icon="Star" class="w-32 text-purple-500" />
            <heroicon-outline icon="Star" class="w-24 text-indigo-500" />
            <heroicon-outline icon="Star" class="w-20 text-blue-500" />
            <heroicon-outline icon="Star" class="w-16 text-teal-500" />
            <heroicon-outline icon="Star" class="w-12 text-green-500" />
            <heroicon-outline icon="Star" class="w-10 text-yellow-500" />
            <heroicon-outline icon="Star" class="w-8 text-orange-500" />
            <heroicon-outline icon="Star" class="w-6 text-red-500" />
        </div>
        <div class="mt-2 flex justify-center items-start">
            <heroicon-solid icon="Sun" class="w-6 text-red-500" />
            <heroicon-solid icon="Sun" class="w-8 text-orange-500" />
            <heroicon-solid icon="Sun" class="w-10 text-yellow-500" />
            <heroicon-solid icon="Sun" class="w-12 text-green-500" />
            <heroicon-solid icon="Sun" class="w-16 text-teal-500" />
            <heroicon-solid icon="Sun" class="w-20 text-blue-500" />
            <heroicon-solid icon="Sun" class="w-24 text-indigo-500" />
            <heroicon-solid icon="Sun" class="w-32 text-purple-500" />
            <heroicon-solid icon="Sun" class="w-40 text-pink-500" />
            <heroicon-solid icon="Sun" class="w-32 text-purple-500" />
            <heroicon-solid icon="Sun" class="w-24 text-indigo-500" />
            <heroicon-solid icon="Sun" class="w-20 text-blue-500" />
            <heroicon-solid icon="Sun" class="w-16 text-teal-500" />
            <heroicon-solid icon="Sun" class="w-12 text-green-500" />
            <heroicon-solid icon="Sun" class="w-10 text-yellow-500" />
            <heroicon-solid icon="Sun" class="w-8 text-orange-500" />
            <heroicon-solid icon="Sun" class="w-6 text-red-500" />
        </div>
    </div>
</div>
